<%-    include("partials/header")   -%>


<form class="form-control"  action="/"  method="post">
<button type="submit" value="world" name="world" class="btn-danger btn btn-lg btn-block btn-block">Get World Corona Stats</button>
</form>


<form class="form-control"  action="/"  method="post">
<button type="submit" name="india"  value="india" class="btn-danger btn btn-lg btn-block">Get India Corona Stats</button>
</form>

<form class="form-control"  action="/"  method="post">
<button type="submit" name="indiadetail"  value="indiadetail" class="btn-danger btn btn-lg btn-block">Get India State Corona Stats</button>
</form>

<form class="form-control"  action="/"  method="post">
<button type="submit" name="uk"  value="uk" class="btn-danger btn btn-lg btn-block">Get UK Corona Stats</button>
</form>

















<%-    include("partials/footer")   -%>