<%-    include("partials/header")   -%>








<form class="form-control "  action="/indiastate"  method="post">
<button type="submit" name="worldcountry"  value="worldcountry" class="btn-danger btn btn-lg ">World Country Wise Covid-19 Cases</button>
</form>











<%-    include("partials/footer")   -%>